ALTER TABLE clients ADD COLUMN pontos INT DEFAULT 0;
ALTER TABLE clients ADD COLUMN cashback_saldo DECIMAL(10,2) DEFAULT 0.00;
CREATE TABLE historico_pontos (id UUID DEFAULT gen_random_uuid() PRIMARY KEY, client_id UUID REFERENCES clients(id), tipo VARCHAR(50), valor DECIMAL(10,2), pontos INT, descricao TEXT, created_at TIMESTAMPTZ DEFAULT NOW());
