EXPO_PUBLIC_API_URL=https://www.maistrilhasmenosestresse.com
EXPO_PUBLIC_SUPABASE_URL=https://SEU_PROJETO.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=SUA_CHAVE_PUBLICA
EXPO_PUBLIC_EAS_PROJECT_ID=ID_DO_PROJETO_EXPO
