EXPO_PUBLIC_API_URL=https://www.maistrilhasmenosestresse.com
EXPO_PUBLIC_SUPABASE_URL=https://SEU_PROJETO.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=SUA_CHAVE_PUBLICA
EXPO_PUBLIC_EAS_PROJECT_ID=6b55e7d9-f68b-42b1-93ba-964e2c68f7b4
